
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Georgia", serif;
}

body {
    background-color: #0d1f1b;
    color: #d9ead7;
}


header {
    background-color: #092e26;
    padding: 20px;
    text-align: center;
    border-bottom: 3px solid #1f5d4e;
}

header h1 {
    color: #76ffb0;
    font-size: 2rem;
    text-shadow: 0 0 5px #1aff75;
}

header nav ul {
    list-style: none;
    margin-top: 12px;
}

header nav ul li {
    display: inline-block;
    margin: 0 15px;
}

header nav ul li a {
    color: #b7f7d9;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

header nav ul li a:hover,
.active {
    color: #76ffb0;
    text-shadow: 0 0 10px #76ffb0;
}

/* INTRO */
.intro {
    text-align: center;
    padding: 50px 20px;
}

.intro h2 {
    font-size: 2rem;
    color: #76ffb0;
    margin-bottom: 10px;
}

/* GALERI */
.galeri {
    padding: 40px 20px;
}

.galeri-container {
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 25px;
}

.foto {
    background-color: #12352e;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 0 12px rgba(0, 255, 170, 0.2);
    transition: 0.3s;
    text-align: center;
}

.foto:hover {
    transform: scale(1.03);
    box-shadow: 0 0 20px rgba(0, 255, 170, 0.4);
}

.foto img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

figcaption {
    padding: 12px;
    font-size: 0.95rem;
    color: #d5ffe8;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background-color: #092e26;
    color: #76ffb0;
    margin-top: 40px;
    border-top: 3px solid #1f5d4e;
}
