/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Georgia", serif;
}

body {
    background-color: #0d1f1b;
    color: #d9ead7;
}

/* HEADER */
header {
    background-color: #092e26;
    padding: 20px;
    text-align: center;
    border-bottom: 3px solid #1f5d4e;
}

header h1 {
    color: #76ffb0;
    font-size: 2rem;
    text-shadow: 0 0 6px #1aff75;
}

header nav ul {
    list-style: none;
    margin-top: 12px;
}

header nav ul li {
    display: inline-block;
    margin: 0 15px;
}

header nav ul li a {
    color: #b7f7d9;
    text-decoration: none;
    font-weight: bold;
    transition: .3s;
}

header nav ul li a:hover,
.active {
    color: #76ffb0;
    text-shadow: 0 0 10px #76ffb0;
}

/* INTRO */
.intro {
    text-align: center;
    padding: 50px 20px;
}

.intro h2 {
    color: #76ffb0;
    font-size: 2rem;
    margin-bottom: 10px;
}

/* KONTAK SECTION */
.kontak-section {
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 35px;
    padding: 40px 20px;
}

/* FORM */
.form-container {
    background-color: #12352e;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 255, 170, 0.2);
}

.form-container h3 {
    margin-bottom: 15px;
    color: #76ffb0;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #b7f7d9;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 6px;
    margin-bottom: 15px;
    font-size: 1rem;
    background-color: #1b4a40;
    color: #e7fff1;
}

input::placeholder,
textarea::placeholder {
    color: #bdeedd;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #1f5d4e;
    color: #e7fff1;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    transition: .3s;
}

button:hover {
    background-color: #2aff9d;
    color: #003d2e;
    box-shadow: 0 0 12px #2aff9d;
}

/* INFO */
.info-container {
    background-color: #12352e;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 255, 170, 0.2);
}

.info-container h3 {
    margin-bottom: 12px;
    color: #76ffb0;
}

.info-container p {
    margin-bottom: 15px;
    color: #d5ffe8;
}

/* PETA */
.peta {
    margin-top: 10px;
    background-color: #1b4a40;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    color: #bdeedd;
    font-style: italic;
}

/* FOOTER */
footer {
    margin-top: 40px;
    background-color: #092e26;
    color: #76ffb0;
    text-align: center;
    padding: 20px;
    border-top: 3px solid #1f5d4e;
}

/* RESPONSIVE */
@media (max-width: 850px) {
    .kontak-section {
        grid-template-columns: 1fr;
    }
}
