/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Georgia", serif;
}

body {
    background-color: #0a2916;
    color: #d9ead7;
}

/* HEADER */
header {
    background-color: #092e26;
    padding: 20px;
    text-align: center;
    border-bottom: 3px solid #144438;
}

header h1 {
    font-size: 2rem;
    color: #76ffb0;
    text-shadow: 0 0 5px #1aff75;
}

header nav ul {
    list-style: none;
    margin-top: 10px;
}

header nav ul li {
    display: inline-block;
    margin: 0 15px;
}

header nav ul li a {
    color: #b7f7d9;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

header nav ul li a:hover {
    color: #76ffb0;
    text-shadow: 0 0 8px #76ffb0;
}

/* HERO */
.hero {
    background-image: url("https://pin.it/1R0Ms3PPY");
    background-size: cover;
    background-position: center;
    padding: 150px 20px;
    text-align: center;
    color: #e3ffe6;
    text-shadow: 0 0 10px #003d2e;
}

.hero h2 {
    font-size: 2.5rem;
}

.hero p {
    font-size: 1.2rem;
    margin-top: 10px;
}

/* TENTANG */
.tentang {
    padding: 60px 30px;
    text-align: center;
    line-height: 1.7;
    max-width: 850px;
    margin: auto;
}

/* KOLEKSI */
.koleksi {
    padding: 60px 30px;
    text-align: center;
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: center;
    gap: 25px;
    margin-top: 40px;
}

.card {
    width: 300px;
    background-color: #12352e;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 255, 170, 0.2);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 25px rgba(0, 255, 170, 0.35);
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: c=over;
}

.card h3 {
    margin: 15px;
    color: #76ffb0;
}

.card p {
    margin: 0 15px 20px;
    color: #d5ffe8;
    font-size: 0.95rem;
}

/* PERATURAN */
.peraturan {
    padding: 60px 30px;
    max-width: 800px;
    margin: auto;
}

.peraturan h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #76ffb0;
}

.peraturan ol {
    line-height: 1.8;
    margin-left: 20px;
    font-size: 1.1rem;
}

/* FOOTER */
footer {
    background-color: #092e26;
    text-align: center;
    padding: 25px;
    margin-top: 50px;
    border-top: 3px solid #1f5d4e;
}

footer p {
    color: #76ffb0;
    margin: 5px 0;
}
